/* main css */

body, html {
	min-height: 100%;
	height: 100%;
}

main {
	height: 100%;
}

main .main-wrapper {
	height: 100%;
}

main .main-wrapper .account-navigation {
	display: none;
}

main .main-container {
	display: flex;
	flex-direction: column;
}

main .main-container h2 {
	text-align: center;
	margin: 20px 0 0 0;
}

main .main-container .recent-container  {
    width: 100%;
	background-color: rgb(244, 244, 244);
	border-radius: 10px;
	box-shadow: 0 10px 20px 0 rgb(109, 109, 109), 0 10px 20px rgb(244, 244, 244);
}

main .main-container .recent-container .recent {
    overflow: auto;
	height: 400px;
}

main .main-container .recent-container .options {
    margin: 0 0 25px 25px;
}

main .main-container .recent-container .options select {
    padding: 10px;
    border: 2px rgb(9, 0, 139) solid;
    border-radius: 5px;
}

main .main-container .recent-container .recent {
	margin-top: 20px;
}

main .main-container .recent-container .recent table {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
	text-align: center;
	border-collapse: collapse;
	margin-bottom: 20px;
}

main .main-container .recent-container .recent table thead th,
main .main-container .recent-container .recent table tbody tr td {
	padding: 15px;
	border: 2px rgb(9, 0, 139) solid;
}

main .main-container .recent-container .recent table tbody tr td {
	font-size: 12px;
}

main .main-container .recent-container .recent table tbody tr .product-container {
	display: block;
	margin: auto;
	width: 64px;
	height: 64px;
}

main .main-container .recent-container .recent table tbody tr td .product-container img {
	display: block;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
}

/* responsive website */


@media only screen and (min-width: 1024px) {

    main {
        min-height: 79vh;
    }

    main .main-container h2 {
        text-align: left;
        margin: 20px 0 0px 20px;
    }

	main .main-wrapper {
        display: flex;
	}

    main .main-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    main .main-container .recent-container  {
        width: 97.5%;
    }
    
    main .main-container .recent-container .recent {
        margin-top: 20px;
    }
    
    main .main-container .recent-container .recent table {
        width: 95%;
    }

	main .main-wrapper .account-navigation {
		color: rgb(254, 254, 254);
		display: block;
		background-image: linear-gradient(rgb(64, 72, 90), rgb(24, 25, 26));
		width: 25%;
		margin: 20px;
		padding: 20px;
		border-radius: 10px;
	}

	main .main-wrapper .account-navigation .navigate {
		padding: 10px;
	}

	main .main-wrapper .account-navigation .navigate h3 a {
		color: rgb(0, 174, 255);
		text-decoration: none;
	}

	main .main-wrapper .account-navigation .navigate li {
		list-style: none;
		padding: 5px 0 0 10px;
	}

	main .main-wrapper .account-navigation .navigate li a {
		cursor: pointer;
		text-decoration: none;
		color: rgb(254, 254, 254);
        transition: all ease 0.5s;
	}

	main .main-wrapper .account-navigation .navigate li a:hover {
        color: rgb(0, 174, 255);
		margin-left: 5px;
		transition: all ease 0.5s;
	}


}

/* responsive table */

@media 
only screen and (max-width: 760px)  {

	main .main-container {
		width: 100%;
    }

    main .main-container .information-container .information {
        width: 100%;
    }

	main .main-container .recent-container .recent table tbody tr .product-container {
		display: flex;
		justify-content: flex-end;
		margin: 0;
		width: 100%;
	}

	main .main-container .recent-container .recent table tbody tr td .product-container img {
		margin: 0;
		max-width: 100%;
		max-height: 100%;
	}

	table, thead, tbody, th, td, tr { 
		display: block; 
		text-align: right;
	}
	
	thead tr { 
		display: none;
	}
	
	tr { 
		border: 1px solid #ccc; 
		margin-top: 20px;
	}
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		text-align: right;
	}

	img {
		text-align: right;
	}
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 5px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align: left;
	}

	td:nth-of-type(1)::before {
		content: "Order ID:";
	}

	td:nth-of-type(2)::before {
		content: "Placed On:";
	}

	td:nth-of-type(3)::before {
		content: "Items:";
	}

	td:nth-of-type(4)::before {
		content: "Total:";
	}

	main .main-container .information-container .information table td p {
		max-width: 200px;
		margin: auto;
	}
	
}