/* main */

main input[type='checkbox'] {
	display: inline-block;
}

.box {
	display: flex;
	flex-wrap: wrap;
	padding-top: 50px;
}

.personal-info {
	flex-basis: 25%;
	margin: auto;
}

.personal-info h2 {
	margin-bottom: 30px;
}

.personal-info input {
	border: 2px rgb(9, 0, 139) solid;
	width: 100%;
	margin-bottom: 30px;
	padding: 5px;
}

.personal-info input[type='file'] {
	border: none;
	margin-bottom: 20px;
	padding: 0;
}

.personal-info input[type='file']::before {
	content: 'Profile Picture: ';
}

.userinfo {
	display: block;
	position: relative;
}

.userinfo span {
	position: absolute;
	color: rgb(148, 148, 148);
	top: 0;
	left: 0;
	margin-left: 5px;
	margin-top: 5px;
	pointer-events: none;
	transition: 0.5s;
}

.userinfo img {
	cursor: pointer;
	position: absolute;
	top: 0;
	right: -50px;
	transition: all ease 0.5s;
}

.userinfo img:hover {
	transform: scale(1.1);
	transition: all ease 0.5s;
}

.userinfo input:focus ~ span,
.userinfo input:valid ~ span {
	top: -25px;
	left: -5px;
	font-size: 13px;
	color: rgb(9, 0, 139);
}

main .buttons {
	text-align: center;
}

main .buttons p {
	display: inline-block;
	text-align: justify;
	font-size: 12px;
}

.buttonReg {
	text-align: center;
}

.buttonReg button {
	cursor: pointer;
	margin-top: 25px;
	margin-bottom: 50px;
	background-color: rgb(9, 0, 139);
	color: white;
	font: 20px bold;
	border: none;
	width: 150px;
	border-radius: 100px;
	padding: 20px;
	transition: all ease 0.5s;
}

.buttonReg button:hover {
	transform: scale(1.1);
	box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: all ease 0.5s;
}

/* Map */
body {
	position: relative;
}

.map-wrapper {
	display: none;
	z-index: 5;
	background-color: rgb(24, 25, 26, 0.8);
	text-align: right;
	position: absolute;
	width: 500px;
	height: 500px;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	animation: showMap 0.5s ease 0s;
}

.map-wrapper img {
	cursor: pointer;
	filter: invert(100%);
	transition: all ease 0.5s;
}

.map-wrapper img:hover {
	transform: translateY(-5px);
	transition: all ease 0.5s;
}

.map-container {
	position: relative;
	max-width: 500px;
	max-height: 500px;
	height: 500px;
	width: 500px;
}

.map-container pre {
	position: absolute;
	bottom: 40px;
	font-size: 12px;
	color: rgba(255, 255, 255);
	background-color: rgb(24, 25, 26, 0.8);
}

.map-container #map {
	max-width: 100%;
	max-height: 100%;
	height: 100%;
	width: 100%;
}

@keyframes showMap {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

/* Footer */

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

#footer-wrapper {
	color: rgb(255, 255, 255);
	background-color: rgb(9, 0, 139);
	margin-top: 20px;
	text-align: center;
}

/* Responsive website */

@media only screen and (max-width: 1024px) {

	main {
		min-height: 93vh;
	}

	label {
		cursor: pointer;
	}

	#menu-icon {
		transition: all ease 0.5s;
	}

	#menu-icon:hover {
		transform: scale(1.1);
		transition: all ease 0.5s;
	}

	.wrapper-header {
		display: none;
	}

	.wrapper-header-2 {
		justify-content: space-evenly;
		background-color: rgb(9, 0, 139);
	}

	#search-bar {
		margin: 0;
	}

	#search-bar input[type='text'] {
		width: 350px;
	}

	#branding {
		margin: 0;
	}

	.search-icon {
		display: none;
	}

	.wrapper-header-2 #brand-name {
		display: none;
	}

	.wrapper-header-2 #menu-icon {
		display: block;
		filter: invert(100%);
	}

	#cart-number {
		color: rgb(9, 0, 0);
		background-color: rgb(255, 255, 255);
	}

	#account-wrapper a {
		color: rgb(255, 255, 255);
	}

	#dropdown {
		display: none;
	}

	#cart-image #cart-icon img {
		filter: invert(100%);
		transition: all ease 0.5s;
	}

	#cart-image #cart-icon img:hover {
		filter: invert(100%);
		transform: translateY(-5px);
		transition: 0.1s;
	}

	.wrapper-header-3 {
		display: none;
	}

	.wrapper-header-3 {
		justify-content: space-between;
	}

	#navigation-bar {
		margin-left: 100px;
	}

	.container-menu {
		display: block;
		overflow: auto;
		position: fixed;
		z-index: 1;
		width: 500px;
		height: 100%;
		top: 0;
		left: -1000px;
		padding-top: 75px;
		background-image: linear-gradient(rgb(64, 72, 90), rgb(24, 25, 26));
		transition: all ease 1s;
	}

	.container-menu::-webkit-scrollbar {
		display: none;
	}

	.container-menu ul {
		margin-left: 20px;
		margin-bottom: 20px;
	}

	.container-menu li {
		list-style: none;
		color: rgb(255, 255, 255);
		margin: 10px;
		transition: all ease 0.5s;
	}

	.container-menu ul li select {
		border: none;
		background-color: rgb(64, 72, 90, 0.1);
		color: rgb(255, 255, 255);
	}

	.container-menu ul li select option {
		border: none;
		background-color: rgb(64, 72, 90);
		color: rgb(255, 255, 255);
	}

	.container-menu li a,
	.container-menu ul h3,
	.container-menu ul li label,
	.container-menu ul h3 a {
		text-decoration: none;
		color: rgb(255, 255, 255);
	}

	.container-menu ul h3 a {
		font-weight: normal;
		font-size: 10px;
	}

	.container-menu li:hover {
		transform: translateX(5px);
		transition: all ease 0.5s;
	}

	#menu:checked ~ .container-menu {
		left: 0;
		transition: all ease 1s;
	}

	.container-type {
		height: 0;
		background-color: rgb(64, 72, 90);
		overflow: hidden;
	}

	#bakery:checked ~ .container-type,
	#beverages:checked ~ .container-type,
	#health:checked ~ .container-type {
		height: 100%;
	}

	.contact img {
		cursor: pointer;
		filter: invert(100%);
		margin: 20px;
		transition: all ease 0.5s;
	}

	.contact img:hover {
		transform: translateY(-5px) rotate(-15deg);
		transition: all ease 0.5s;
	}
}

@media only screen and (max-width: 540px) {

    .map-wrapper {
		width: 80%;
	}

	.map-container {
		width: 100%;
	}
    
	.box {
		flex-direction: column;
	}

	#search-bar input[type='text'] {
		width: 200px;
	}

	.container-menu {
		width: 350px;
	}

	.products-wrapper-2 {
		justify-content: flex-start;
	}

	.products-wrapper-2 form {
		/* position: relative; */
		flex-basis: 50%;
		overflow: hidden;
		text-align: center;
		margin: 0 0 30px 0;
	}

	.product-description .container .image {
		height: 150px;
		width: 150px;
	}

	.product-description .container .product-name h1 {
		font-size: 20px;
	}
}

@media only screen and (max-width: 320px) {
	#branding {
		display: none;
	}

	#search-bar input[type='text'] {
		width: 200px;
	}

	.container-menu {
		width: 300px;
	}

	#cart-image .cart-wrapper {
		width: 250px;
		left: -250px;
	}
}

@media only screen and (max-width: 280px) {
	#search-bar input[type='text'] {
		width: 150px;
	}

	.container-menu {
		width: 250px;
	}

	#cart-image .cart-wrapper {
		width: 225px;
		left: -215px;
	}

	.personal-info input {
		display: block;
		border: 2px rgb(9, 0, 139) solid;
		width: 85%;
		margin-bottom: 30px;
		padding: 5px;
	}

	.personal-info input[type='file'] {
		border: none;
		margin-bottom: 20px;
		padding: 0;
	}

	.personal-info input[type='file']::before {
		content: 'Profile Picture: ';
	}

	.userinfo {
		display: block;
		position: relative;
	}

	.userinfo img {
		cursor: pointer;
		position: absolute;
		top: 0;
		right: -10px;
		transition: all ease 0.5s;
	}
}
