/* Global declaration */

* {
    margin: 0;
    padding: 0;
    font-family: Artifakt Element;
}

body {
    position: relative;
    height: 100%;
}

input[type=checkbox] {
    display: none;
}

header , main, footer {
    width: 100%;
}

/* header */

header {
    z-index: 1;
}

header .wrapper {
    background-color: rgb(9, 0, 139);
    color: rgb(255, 255, 255);
}

header .wrapper .container .branding {
    display: flex;
    justify-self: center;
    align-items: center;
}

header .wrapper .container .branding label img {
    cursor: pointer;
    filter: invert(100%);
    margin: 0 20px 0 20px;
}

header .wrapper .container .branding h2 {
    margin-left: 10px;
}

/* Css for navigation side bar */

main {
    display: flex;
    max-height: 100%;
}

.navigation-wrapper {
    overflow: hidden;
    background-image: linear-gradient(rgb(64,72,90),rgb(24, 25, 26));
    width: 0;
    max-height: 100%;
    transition: all ease 1s;
}

#show-nav:checked ~ .navigation-wrapper {
    width: 25%;
    transition: all ease 1s;
}

.navigation-wrapper .navigation-container {
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
}

.navigation-wrapper .navigation-container li {
    margin-top: 10px;
    list-style: none;
}

.navigation-wrapper .navigation-container li a {
    text-decoration: none;
}

.navigation-wrapper .navigation-container li h5 {
    margin-bottom: 20px;
    color: rgba(109, 124, 160, 0.9);
    padding: 10px;
    background-color: rgb(34, 39, 49);
}

.navigation-wrapper .navigation-container .profile {
    display: flex;
    margin: auto;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.navigation-wrapper .navigation-container .profile .image {
    margin-right: 10px;
    width: 32px;
    height: 32px;
}

.navigation-wrapper .navigation-container .profile .image img {
    margin-right: 10px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}

.navigation-wrapper .navigation-container .profile .image  {
    margin-right: 10px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}

.navigation-wrapper .navigation-container .reports {
    display: flex;
    cursor: pointer;
    align-items: center;
    margin: auto;
    margin-top: 15px;
    transition: all ease 0.5s;
}

.navigation-wrapper .navigation-container .reports:hover {
   transform: translateY(-5px);
   background-color: rgb(34, 39, 49, 0.5);
   transition: all ease 0.5s;
}

.navigation-wrapper .navigation-container .reports img {
    filter: invert(100%);
}

.navigation-wrapper .navigation-container .reports P {
    border: none;
    text-overflow: ellipsis;
    width: 150px;
    background-color: rgb(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    padding: 10px;
}

/* CSS for main */

main {
    min-height: 87vh;
    background-color: rgb(226,229,238);
}

main .wrapper {
    width: 100%;
    background-color: rgb(226,229,238);
}

main .wrapper h1 {
    padding: 20px;
}

main .wrapper .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgb(9, 0, 139, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main .wrapper .container .information {
    position: relative;
    width: 100%;
}

main .wrapper .container .information input[type=text] {
    display: block;
    margin: auto;
    width: 45%;
}

main .wrapper .container .information input[type=text]:nth-child(1) {
    margin-top: 20px;
}

main .wrapper .container .button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

main .wrapper .container .button input[type=submit], main .wrapper .container .button input[type=button] {
    cursor: pointer;
    background-color: rgb(9, 0, 139);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: all ease 0.5s;
    margin-left: 20px;
    margin-top: 20px;
    width: 80%;
}

main .wrapper .container .button input[type=submit]:hover, main .wrapper .container .button input[type=button]:hover {
    transform: translateY(-5px);
    transition: all ease 0.5s;
}

main .wrapper .container .information input[type=text], main .wrapper .container .information input[type=email], main .wrapper .container .information input[type=number] {
    padding: 5px;
}

main .wrapper .container:nth-child(3) {
    display: flex;
}

main .wrapper .container {
    margin-bottom: 20px;
}

main .wrapper .container .table-container {
    overflow: auto;
    height: 450px;
    width: 100%;
}
      
main .wrapper .container .table-container table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

main .wrapper .container .table-container table th, main .wrapper .container .table-container table tr td{
    padding: 5px;
    border: 2px rgb(9, 0, 139) solid;
}

main .wrapper .container .table-container table tr td p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin: auto;
    max-width: 130px;
    text-overflow: ellipsis;
    overflow: hidden;
}

main .wrapper .container .table-container table tr td input[type=button] {
    cursor: pointer;
    padding: 5px;
    background-color: rgb(9, 0, 139);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    transition: all ease 0.5s;
}

main .wrapper .container .table-container table tr td input[type=button]:hover {
    transform: translateY(-3px);
    transition: all ease 0.5s;
}

/* Adding background css */

body #productcontainer {
    display: none;
    color: rgb(255, 255, 255);
    padding: 20px;
    position: absolute;
    z-index: 1;
    background-color: rgb(34, 39, 49, 0.95);
    width: 50%;
    height: 500px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 20px;
    animation-name: showAddProduct;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

@keyframes showAddProduct {
    from{
        transform: scale(0);
    }to{
        transform: scale(1);
    }
}

#productcontainer {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#productcontainer .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#productcontainer .title img {
    cursor: pointer;
    filter: invert(100%);
    transition: all ease 0.5s;
}

#productcontainer .title img:hover {
    transform: translateY(-5px);
    transition: all ease 0.5s;
}

#productcontainer .product-information label {
    font-size: 12px;
}

#productcontainer .product-information {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#productcontainer .product-information .preview-image {
    position: relative;
    width: auto;
    height: auto;
    border: 2px rgb(255, 255, 255) solid;
    margin: auto;
    margin-bottom: 20px;
}

#productcontainer .product-information .preview-image img {
    max-height: 100%;
    max-width: 100%;
}

#productcontainer .product-information .preview-image h1 {
    position: absolute;
    font-size: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-shadow: 2px 2px rgb(9, 0, 139);
    margin: auto;
}

#limit {
    color: rgb(255, 0, 106);
}

#productcontainer .product-information .product-input {
    position: relative;
    margin: 20px 0 20px 0;
}

#productcontainer .product-information .product-input span {
    position: absolute;
    left: 0;
}

#productcontainer .product-information input[type=submit] {
    cursor: pointer;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(96, 162, 201);
    transition: all ease 0.5s;
}

#productcontainer .product-information input[type=submit]:hover {
    transform: translateY(-5px);
    transition: all ease 0.5s;
}

/* css for adding icon in categories */
#categoryIcon {
    display: none;
    color: rgb(255, 255, 255);
    padding: 20px;
    position: absolute;
    z-index: 1;
    background-color: rgb(34, 39, 49, 0.95);
    width: 50%;
    min-height: 350px;
    height: 350px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    animation-name: showAddProduct;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

#categoryIcon .title {
    text-align: right;
}

#categoryIcon .title img {
    cursor: pointer;
    filter: invert(100%);
    transition: all ease 0.5s;
}

#categoryIcon .title img:hover {
    transform: translateY(-5px);
    transition: all ease 0.5s;
}

#categoryIcon .preview-image {
    display: block;
    margin: auto;
    width: 128px;
    height: 128px;
    overflow: hidden;
    line-height: 150px;
    border-radius: 100%;
    background: rgb(39,196,221);
}

#categoryIcon .preview-image img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}

#categoryIcon input[type=file], #categoryIcon select {
    margin-bottom: 20px;
}

#categoryIcon input[type=submit]{
    cursor: pointer;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(96, 162, 201);
    transition: all ease 0.5s;
}

#categoryIcon input[type=submit]:hover {
    transform: translateY(-5px);
    transition: all ease 0.5s;
}

/* Footer */

footer {
    width: 100%;
}

#footer-wrapper {
    color: rgb(255, 255, 255);
    background-color: rgb(9, 0, 139);
    text-align: center;
}

/* css for modal */
body {
    position: relative;
}

.category-modal {
    display:none;
    color: rgb(255, 255, 255);
    padding: 20px;
    position: absolute;
    z-index: 1;
    width: 80%;
    height: 80%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    animation-name: showCatModal;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes showCatModal {
    from {
        transform: scale(0);
    }to{
        transform: scale(1);
    }
}

.category-modal .wrapper {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(34, 39, 49, 0.95);
    max-width: 100%;
    max-height: 100%;
    width: 50%;
    height: 50%;
    border-radius: 20px;
}

.category-modal .wrapper .close {
    text-align: right;
}

.category-modal .wrapper .close img {
    cursor: pointer;
    max-width: 32px;
    max-height: 32px;
    width: 32px;
    height: 32px;
    filter: invert(100%);
    padding: 10px;
    transition: all ease 0.5s;
}

.category-modal .wrapper .close img:hover {
    transform: translateY(-5px);
    transition: all ease 0.5s;
}

.category-modal .wrapper .info {
    text-align: center;
    margin-top: 30px;
}

.category-modal .wrapper .info input[type="text"] {
    padding: 5px;
    border-radius: 5px;
}

.category-modal .wrapper .info input[type="submit"] {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(9, 0, 139);
    color: rgb(255, 255, 255);
    transition: all ease 0.5s;
}

.category-modal .wrapper .info input[type="submit"]:hover {
    transform: translateY(-5px);
    transition: all ease 0.5s;
}