/* Global declaration */

* {
    margin: 0;
    padding: 0;
    font-family: Artifakt Element;
}

body {
    position: relative;
    height: 100%;
}

input[type=checkbox] {
    display: none;
}

.wrapper-profile {
    margin-bottom: 20px;
}

header , main, footer {
    width: 100%;
}

/* header */

header {
    z-index: 1;
}

header .wrapper {
    background-color: rgb(9, 0, 139);
    color: rgb(255, 255, 255);
}

header .wrapper .container .branding {
    display: flex;
    justify-self: center;
    align-items: center;
}

header .wrapper .container .branding label img {
    cursor: pointer;
    filter: invert(100%);
    margin: 0 20px 0 20px;
}

header .wrapper .container .branding h2 {
    margin-left: 10px;
}

/* Css for navigation side bar */

main {
    display: flex;
    max-height: 100%;
}

.navigation-wrapper {
    overflow: hidden;
    background-image: linear-gradient(rgb(64,72,90),rgb(24, 25, 26));
    width: 0;
    max-height: 100%;
    transition: all ease 1s;
}

#show-nav:checked ~ .navigation-wrapper {
    width: 25%;
    transition: all ease 1s;
}

.navigation-wrapper .navigation-container {
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
}

.navigation-wrapper .navigation-container li {
    margin-top: 10px;
    list-style: none;
}

.navigation-wrapper .navigation-container li a {
    text-decoration: none;
}

.navigation-wrapper .navigation-container li h5 {
    margin-bottom: 20px;
    color: rgba(109, 124, 160, 0.9);
    padding: 10px;
    background-color: rgb(34, 39, 49);
}

.navigation-wrapper .navigation-container .profile {
    display: flex;
    margin: auto;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.navigation-wrapper .navigation-container .profile .image {
    margin-right: 10px;
    width: 32px;
    height: 32px;
}

.navigation-wrapper .navigation-container .profile .image img {
    margin-right: 10px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}

.navigation-wrapper .navigation-container .profile .image  {
    margin-right: 10px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}

.navigation-wrapper .navigation-container .reports {
    display: flex;
    cursor: pointer;
    align-items: center;
    margin: auto;
    margin-top: 15px;
    transition: all ease 0.5s;
}

.navigation-wrapper .navigation-container .reports:hover {
   transform: translateY(-5px);
   background-color: rgb(34, 39, 49, 0.5);
   transition: all ease 0.5s;
}

.navigation-wrapper .navigation-container .reports img {
    filter: invert(100%);
}

.navigation-wrapper .navigation-container .reports P {
    border: none;
    text-overflow: ellipsis;
    width: 150px;
    background-color: rgb(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    padding: 10px;
}

/* CSS for main */

main {
    min-height: 87vh;
    background-color: rgb(226,229,238);
}

main .wrapper {
    width: 100%;
    background-color: rgb(226,229,238);
}

main .wrapper h1 {
    padding: 20px;
}

main .wrapper .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 80%;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgb(9, 0, 139, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main .wrapper .container .information {
    position: relative;
    margin-top: 20px;
}

main .wrapper .container .button input[type=submit] {
    cursor: pointer;
    background-color: rgb(9, 0, 139);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: all ease 0.5s;
    margin-top: 20px;
}

main .wrapper .container .button input[type=submit]:hover {
    transform: translateY(-5px);
    transition: all ease 0.5s;
}

main .wrapper .container .information input[type=text], main .wrapper .container .information input[type=email], main .wrapper .container .information input[type=number] {
    padding: 5px;
}

main .wrapper .container .information span {
    pointer-events: none;
    position: absolute;
    left: 3px;
    bottom: 0;
    top: 5px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 15px;
    color: rgb(64,72,90);
    transition: all ease 0.5s;
}

main .wrapper .container .information input[type=text]:focus ~ span , main .wrapper .container .information input[type=text]:valid ~ span {
    color: rgb(9, 0, 139);
    font-size: 12px;
    left: 0;
    top: -15px;
    transition: all ease 0.5s;
}

main .wrapper .container .information input[type=email]:focus ~ span , main .wrapper .container .information input[type=email]:valid ~ span {
    color: rgb(9, 0, 139);
    font-size: 12px;
    left: 0;
    top: -20px;
    transition: all ease 0.5s;
}

main .wrapper .container .wrapper-profile {
    text-align: left;
}

main .wrapper .container .profile-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

main .wrapper .container .profile-pic img {
    cursor: pointer;
    border-radius: 50%;
}

main .wrapper .container .profile-pic input[type=file] {
    display:none;
}

main .wrapper .container .profile-pic input[type=submit] {
    cursor: pointer;
    padding: 5px;
    background-color: rgb(9, 0, 139);
    color: rgb(255, 255, 255);
    border:none;
    border-radius: 5px;
    margin-top: 5px;
}

/* Footer */

footer {
    width: 100%;
}

#footer-wrapper {
    color: rgb(255, 255, 255);
    background-color: rgb(9, 0, 139);
    text-align: center;
}